select {
    background-color: white;
}

tr, td {
    vertical-align:center;
/*    border:1px dashed green; */
}

table {
    border:1px solid black;
    border-spacing: 0px;
}

button {
}

textarea {
    font-family:"Courier New";
}
